<h2>Your question</h2>
<%= @query %>
<!-- We only use instance variables passed from the controller !!!!!!!!!!
 -->
<h2>Your answer</h2>
<%= @answer %>
<%= link_to "Ask another question", ask_path %>
